/*
 * This file is dedicated to include mixins, which is
 * reusable chunck of sass (css) codes that can meant
 * to provide DRY value
 */

@mixin avatar-variant-one
  width: 49px
  height: 49px
  border-radius: 999px

@mixin avatar-variant-two
  width: 39px
  height: 39px
  border-radius: 999px

@mixin after-hover
  background-color: #eee
  color: rgb(121, 75, 196)

@mixin tooltip-helper
  position: relative
  &:hover::after
    position: absolute
    top: -45px
    background: rgba(0, 0, 0, 0.6)
    color: white
    border-radius: 5px
    padding: 8px 0
    text-align: center
    z-index: 3

@mixin tooptip($content, $offsetVal: -10px)
  &:hover::after
    content: $content
    left: $offsetVal
    right: $offsetVal