

textarea
  outline: none

i
  color: black

a
  text-decoration: none


.section-divider
  background: #f7f9fa
  height: 10px
  border-bottom: 1px solid #eee

.page-description
  padding: 15px
  border-bottom: 1px solid #eee
  max-width: 689px