/*
 * This file is dedicated for global variables that will be applies
 * throughout the program.
 */
  
/* === */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;800&display=swap')


// Fonts  
$montserrat: 'Montserrat', sans-serif
$segoe: 'Segoe UI', sans-serif
$fira: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace
$shippori: 'Shippori Mincho', serif


// Colors
$discord: #7289da
$discord-se: rgba(114,137,218,0.1)

// 
$icon-size: 19px
$icon-color: black

// Box shadow
$box-shadow: 2px 2px 30px rgb(0 0 0 / 20%)


$hover-transition-time: .3s